<div>
    <h1>Welcome To Admin Panel</h1>
</div>
<div>
    <h1>For Register</h1>
    <a asp-controller="Admins"  asp-action="SignUp">SignUP</a>
</div>

<div>
    <h1>For Login</h1>
    <a asp-controller="Admins" asp-action="Login">Login</a>
</div>